<div class="container" style="padding-top: 150px; max-width: 600px; padding-bottom: 150px;">
  <h2 class="mb-4 text-center">Réinitialisation du mot de passe</h2>

  <div *ngIf="error" class="alert alert-danger text-center" role="alert">
    {{ error }}
  </div>

  <form *ngIf="!error" (ngSubmit)="onSubmit()" #resetForm="ngForm" novalidate>
    <div class="mb-3">
      <label style="padding-top: 50px;" for="newPassword" class="form-label">Nouveau mot de passe</label>
      <input
        type="password"
        id="newPassword"
        class="form-control"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
        minlength="12"
        placeholder="Au moins 12 caractères, avec une majuscule, une minuscule et un chiffre et un caractère spécial"
        #passwordInput="ngModel"
      />
      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger mt-1">
        Le mot de passe doit contenir au moins 6 caractères.
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="resetForm.invalid">
      Changer le mot de passe
    </button>
  </form>

  <p *ngIf="message" class="text-success mt-3 text-center">{{ message }}</p>
</div>
