<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
         <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo_noir' : 'logo_blanc'}}.png" alt="logo"> -->
        <span>Ambiance</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-overlayPanel #menu>
            <p-menu [model]="menuItems"></p-menu>
          </p-overlayPanel>
          
          <button class="p-link layout-topbar-button" (click)="menu.toggle($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
          </button>
    </div> 
</div>