<div class="container" style="padding-top: 150px; max-width: 600px; padding-bottom: 150px;">
    <h2 class="mb-4 text-center">Mot de passe oublié</h2>
    <form (ngSubmit)="onSubmit()" #forgotForm="ngForm" novalidate>
        <div class="mb-3">
            <label for="email" class="form-label" style="padding-top: 50px;">Votre email</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required
                placeholder="exemple@domaine.com" #emailInput="ngModel" />
                
            <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger mt-1">
                Veuillez saisir un email valide.
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="forgotForm.invalid">Envoyer</button>
    </form>
    <p *ngIf="message" class="text-success mt-3 text-center">{{ message }}</p>
    <p *ngIf="error" class="text-danger mt-3 text-center">{{ error }}</p>
</div>