<form class="p-fluid">
    <div class="p-field">
      <label for="ville">Ville</label>
      <input id="ville" type="text" pInputText [(ngModel)]="ville" name="ville" required />
      <small *ngIf="submitted && !ville" class="p-error">La ville est requis.</small>
    </div>
  
    <div class="p-field">
      <label for="codePostal">Code Postal</label>
      <input id="codePostal" type="number" pInputText [(ngModel)]="codePostal" name="codePostal" required />
      <small *ngIf="submitted && codePostal <= 0" class="p-error">Indiquez un nombre valide.</small>
    </div>

    <div class="p-field">
      <label for="pays">Pays</label>
      <textarea id="pays" pInputTextarea [(ngModel)]="pays" name="pays" required></textarea>
      <small *ngIf="submitted && !pays" class="p-error">Le pays est requise.</small>
    </div>
  
  
    <div class="footer">
      <button pButton label="Précédent" class="p-button-secondary" (click)="prevPage()"></button>
      <button pButton label="Suivant" class="p-button-primary" (click)="nextPage()"></button>
    </div>
  </form>
  
  <style>
    .footer {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #ddd;
      padding-top: 1rem;
      margin-top: 1rem;
    }
  </style>