<form class="p-fluid" style="padding-top: 60px;">
  <h2>Accessibilité</h2>
  
    <div class="p-field-checkbox">
      <p-checkbox id="ascenseur" [(ngModel)]="ascenseur" name="ascenseur" binary="true"></p-checkbox>
      <label for="ascenseur">Ascenseur disponible</label>
    </div>
  
    <div class="p-field-checkbox">
      <p-checkbox id="placeParking" [(ngModel)]="placeParking" name="placeParking" binary="true"></p-checkbox>
      <label for="placeParking">Place de parking</label>
    </div>
  
    <div class="p-field-checkbox">
      <p-checkbox id="rampe" [(ngModel)]="rampe" name="rampe" binary="true"></p-checkbox>
      <label for="rampe">Rampe d'accès</label>
    </div>
  
    <div class="footer">
      <button pButton label="Précédent" class="p-button-secondary" (click)="prevPage()"></button>
      <button pButton label="Suivant" class="p-button-primary" (click)="nextPage()"></button>
    </div>
  </form>
  