<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <div class="layout-mask"></div>
</div>

<style>
    @media (max-width: 640px) {
  /* Enlever tout padding et margin en haut du conteneur principal */
  .layout-main-container, 
  .layout-main {
    padding-top: 0 !important;
    margin-top: 30px !important;
  }
    }
</style>