<!-- Footer -->
<footer class="bg-body footer border-top">
    <div class="footer-top pb-6">
        <div class="container">
            <div class="row">
                <!-- Support Section -->
                <div class="col-sm-6 col-lg-3 my-3">
                    <h6 class="text-uppercase mb-5">Support</h6>
                    <ul class="list-unstyled dark-link footer-link-1 m-0">
                        <li class="pb-2"><a href="#">Aide</a></li>
                        <li class="pb-2"><a href="#">Nous Contacter</a></li>
                        <li class="pb-2"><a href="#">Retours</a></li>
                        <li class="pb-2"><a href="#">Désabonnement à la Newsletter</a></li>
                        <li class="pb-2"><a href="#">Réservations</a></li>
                    </ul>
                </div>

                <!-- Politique Section -->
                <div class="col-sm-6 col-lg-3 my-3">
                    <h6 class="text-uppercase mb-5">Politique</h6>
                    <ul class="list-unstyled dark-link footer-link-1 m-0">
                        <li class="pb-2"><a href="#">Politique de confidentialité</a></li>
                        <li class="pb-2"><a href="#">Conditions d'utilisation</a></li>
                        <li class="pb-2"><a href="#">Conditions des cartes cadeaux</a></li>
                        <li class="pb-2"><a href="#">Expédition</a></li>
                        <li class="pb-2"><a href="#">Remboursement</a></li>
                    </ul>
                </div>

                <!-- Informations et Contacts Section -->
                <div class="col-sm-6 col-lg-3 my-3">
                    <h6 class="text-uppercase mb-5">Informations</h6>
                    <ul class="list-unstyled dark-link footer-link-1 m-0">
                        <li class="pb-2"><a href="#">À propos de nous</a></li>
                        <li class="pb-2"><a href="#">Carrières</a></li>
                        <li class="pb-2"><a href="#">Blog</a></li>
                    </ul>
                </div>

                <!-- Contact & Social Media Section -->
                <div class="col-sm-6 col-lg-3 my-3">
                    <div class="pb-3">
                        <img alt="Logo" class="logo-light" src="/assets/AMBIANCE.png" title="Ambiance" />
                    </div>
                    <address class="dark-link mb-4">
                        <p class="mb-2">1 Sq. Benjamin Franklin, 78180 Montigny-le-Bretonneux<br />France</p>
                        <p class="mb-2"><a class="border-bottom border-secondary" href="mailto:support&#64;domain.com">support&#64;ambiance.com</a></p>
                        <p class="mb-2"><a class="border-bottom border-secondary" href="tel:01 80 50 47 36">01 80 50 47 36</a></p>
                    </address>
                    <div class="nav dark-link fs-5">
                        <a class="me-3" href="#"><i class="bi bi-facebook"></i></a>
                        <a class="me-3" href="#"><i class="bi bi-twitter"></i></a>
                        <a class="me-3" href="#"><i class="bi bi-instagram"></i></a>
                        <a class="me-3" href="#"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

