<footer class="bg-body footer border-top">
    <div class="footer-top pb-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 my-3">
                    <h6 class="text-uppercase mb-5">Support</h6>
                    <ul class="list-unstyled dark-link footer-link-1 m-0">
                        <li class="pb-2"><a href="#">Aide</a>
                        <li class="pb-2"><a href="#">Nous Contacter</a>
                        <li class="pb-2"><a href="#">Retours</a>
                        <li class="pb-2"><a href="#">Désabonnement à la Newsletter</a>
                        <li class="pb-2"><a href="#">Reservations</a>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-3">
                    <h6 class="text-uppercase mb-5">Politique</h6>
                    <ul class="list-unstyled dark-link footer-link-1 m-0">
                        <li class="pb-2"><a href="#">Politique de confidentialité</a>
                        <li class="pb-2"><a href="#">Conditions d'utilisation</a>
                        <li class="pb-2"><a href="#">Gift card conditions</a>
                        <li class="pb-2"><a href="#">Shipping</a>
                        <li class="pb-2"><a href="#">Remboursement</a>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-3">
                    <h6 class="text-uppercase mb-5">Policies</h6>
                    <ul class="list-unstyled dark-link footer-link-1 m-0">
                        <li class="pb-2"><a href="#">Privacy Policy</a>
                        <li class="pb-2"><a href="#">Terms of use</a>
                        <li class="pb-2"><a href="#">Gift card conditions</a>
                        <li class="pb-2"><a href="#">Shipping</a>
                        <li class="pb-2"><a href="#">Return</a>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-3">
                    <div class="pb-3"><img alt="" class="logo-dark sf-hidden" src="data:," title="" /> <img alt=""
                            class="logo-light" src="/assets/AMBIANCE.png" title="" /></div>
                    <address class="dark-link mb-4">
                        <p class="mb-2">1 Sq. Benjamin Franklin, 78180 Montigny-le-Bretonneux<br />France
                        <p class="mb-2"><a class="border-bottom border-secondary"
                                href="mailto:support&#64;domain.com">support&#64;ambiance.com</a>
                        <p class="mb-2"><a class="border-bottom border-secondary" href="tel:820-885-3321">01 80 50
                                47 36</a></p>
                    </address>
                    <div class="nav dark-link fs-5"><a class="me-3" href="#"><i class="bi bi-facebook"></i>
                        </a><a class="me-3" href="#"><i class="bi bi-twitter"></i> </a><a class="me-3" href="#"><i
                                class="bi bi-instagram"></i> </a><a class="me-3" href="#"><i
                                class="bi bi-linkedin"></i></a></div>
                    <div class="nav-item h-switch dropdown mt-4"><button aria-expanded="false"
                            class="theme-switch btn btn-sm btn-outline-mode dropdown-toggle"
                            data-bs-display="static" data-bs-toggle="dropdown" id="bd-theme" type="button"><span
                                class="bi theme-icon-active"><i class="bi-moon-stars-fill"></i> </span><span
                                class="ps-1">Theme
                                Mode</span></button>
                        <ul aria-labelledby="bd-theme" class="dropdown-menu sf-hidden"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3 border-top small">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-end py-1"><img alt="" src="assets/image_16.png" title="" />
                </div>
            </div>
        </div>
    </div>
</footer>