.w-16 {
  width: 4rem;
}

.h-16 {
  height: 4rem;
}

.w-10 {
  width: 2.5rem;
}

.h-10 {
  height: 2.5rem;
}

.rounded {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 50%;
}

.mr-2 {
  margin-right: 0.5rem;
}
