<h1>Voici la liste de vos publications</h1>

<p style="padding-top: 5px;">Nombre total de publications : {{ publications.length }}.</p>
<!-- Tableau PrimeNG pour les publications -->
<p-table [value]="publications" [tableStyle]="{ 'min-width': '60rem' }" showGridlines="true" styleClass="p-datatable-gridlines">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <span class="text-xl font-bold">Publications</span>
            <p-button icon="pi pi-refresh" rounded raised />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Catégories</th>
            <th>Prix</th>
            <th>Vues</th>
            <th>Ville</th>
            <th>Code Postal</th>
            <th>Date</th>
            <th>Voir</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-publication>
        <tr>
            <td>
                <img [src]="publication.image" alt="Image de la publication" class="w-16 h-16 rounded">
            </td>
            <td>{{ publication.titre }}</td>
            <td>
                <p-tag *ngFor="let cat of publication.categories" [value]="cat" class="mr-2"></p-tag>
            </td>
            <td>{{ publication.prix | currency: 'EUR' }}</td>
            <td>{{ publication.vus | number }}</td>
            <td>{{ publication.ville }}</td>
            <td>{{ publication.codePostal }}</td>
            <td>{{ publication.date | date: 'dd/MM/yyyy' }}</td>
            <td class="text-center"><p-button icon="pi pi-eye" class="p-button-text"></p-button></td>
            <td class="text-center"><p-button icon="pi pi-pencil" class="p-button-text p-button-warning"></p-button></td>
            <td class="text-center"><p-button icon="pi pi-trash" class="p-button-text p-button-danger"></p-button></td>
            
        </tr>
    </ng-template>
    
</p-table>