.editable {
  transition: border-color 0.3s, box-shadow 0.3s;
}

.editable:hover {
  border-color: #0d6efd;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.3);
}

.profile-pic img {
  transition: transform 0.3s;
}

.profile-pic img:hover {
  transform: scale(1.05);
}

  // .style {
  //   padding-top: 70px; /* Mobile par défaut */
  // }
  
 
  
  @media (max-width: 768px) {
    .testStyle {
      padding-top: 70px !important;
    }
  }
  
  @media (max-width: 992px) {
    .testStyle {
      padding-top: 80px !important;
    }
  }
  
  @media (max-width: 1200px) {
    .testStyle {
      padding-top: 110px !important;
    }
  }

  @media (max-width: 576px) {
    .testStyle {
      padding-top: 20px !important;
    }
  }

  @media (max-width: 706px) {
    .testStyle {
      padding-top:50px !important;
    }
  }

  @media (min-width: 1200px) {
    .testStyle {
      padding-top: 100px !important;
    }
  }
  


.profile-pic-wrapper {
  position: relative;
  width: 250px;
  height: 250px;

  .profile-pic-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    background-color: #f0f0f0;
  }

.profile-pic-btn {
  position: absolute;
  bottom: 5px;  /* petit padding depuis le bord */
  right: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 10;
  transform: none;
}

.profile-pic.no-image .profile-pic-btn {
  background-color: #f0f0f0; /* gris clair */
  border-color: #bbb;        /* bordure grise */
  color: #666;               /* icône plus douce */
}
}
