<div class="messagerie-page">
  <div class="row justify-content-center section-heading">
    <div class="col-lg-6 text-center">
      <h3 class="h2 mt-2 text-white"></h3>
    </div>
  </div>
  <div class="messagerie-container">
    <!-- Conteneur gauche : 30% -->
    <div class="discussions-list  mt-4 ">

      <h4>Mes discussions :</h4>
      <div *ngFor="let d of discussions" class="discussion-card"
        [class.selected]="selectedDiscussion?.idDiscussion === d.idDiscussion" (click)="selectDiscussion(d)">
        <div class="card-title">{{ d.nomGroupe }}</div>
        <div class="card-id">#{{ d.idDiscussion }}</div>
      </div>
      <div *ngIf="discussions.length === 0" class="no-discussion-list">
        <em>Aucune discussion disponible</em>
      </div>
    </div>
    <!-- Conteneur droit : 70% -->
    <div class="messages-section">
      <ng-container *ngIf="selectedDiscussion; else noDiscussion">
        <h5>Discussion : {{ selectedDiscussion.nomGroupe }}</h5>
        <div class="messages-history">
          <div *ngFor="let m of messages" 
               class="message-bubble-container"
               [ngClass]="{'mine': m.user_IdUtilisateur === userId, 'other': m.user_IdUtilisateur !== userId}">
            <div class="message-author">{{ m.user_Prenom }}</div>
            <div class="message-bubble">
              {{ m.message_contenu }}
              <div class="message-date">{{ m.message_date_envoi | date:'short' }}</div>
            </div>
          </div>
        </div>
        <div class="send-message mb-3">
          <textarea class="form-control" rows="3" placeholder="Écrire un message..." [(ngModel)]="newMessage"></textarea>
          <button class="btn btn-primary mt-2" (click)="sendMessage()" >Envoyer</button>

        </div>
      </ng-container>
      <ng-template #noDiscussion>
        <div class="no-discussion">
          <em>Sélectionnez une discussion</em>
        </div>
      </ng-template>
    </div>
  </div>
</div>