<div class="container my-5" style="padding-top: 80px !important;">
    <div class="card shadow-lg" style="padding-top: 10px !important;">
        <form (ngSubmit)="onSubmit()" #articleForm="ngForm">
            <div class="card-body">
                <h1 class="card-title">Créer un article</h1>

                <div class="mb-3">
                    <label for="titre" class="form-label">Titre</label>
                    <input type="text" id="titre" class="form-control" required [(ngModel)]="article.titre"
                        name="titre" />
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image (URL)</label>
                    <input type="text" id="image" class="form-control" [(ngModel)]="article.image" name="image" />
                </div>

                <div class="mb-3">
                    <label for="contenu" class="form-label">Contenu</label>
                    <textarea id="contenu" class="form-control" rows="6" required [(ngModel)]="article.contenu"
                        name="contenu"></textarea>
                </div>

                <div class="mb-3">
                    <label for="ecole" class="form-label">École</label>
                    <input type="text" id="nom" class="form-control" [(ngModel)]="nomEcole" name="nom" readonly />
                </div>

                <div class="mb-3">
                    <label class="form-label">Tags</label>

                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ getSelectedTagsLabel() }}
                        </button>

                        <ul class="dropdown-menu w-100 px-3" style="max-height: 200px; overflow-y: auto;">
                            <li *ngFor="let tag of tags">
                                <div class="form-check">
                                    <label class="form-check-label d-flex align-items-center w-100"
                                        style="cursor: pointer;" (click)="$event.stopPropagation()">
                                        <input class="form-check-input me-2" type="checkbox" [checked]="isSelected(tag)"
                                            (change)="toggleTagSelection(tag, $event)" />
                                        {{ tag.nom }}
                                    </label>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-3" [disabled]="articleForm.invalid">
                    Créer l'article
                </button>
                <a routerLink="/articles" class="btn btn-outline-secondary mt-3 ms-2">Annuler</a>
            </div>
        </form>
    </div>
</div>