:host ::ng-deep .fc {
  max-height: 600px;
  overflow: hidden;
}

:host ::ng-deep .fc-view-container {
  height: 100%;
}

:host ::ng-deep .fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(48, 204, 17, 0.5) !important;
}

:host ::ng-deep .fc-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

:host ::ng-deep .fc-prev-button,
:host ::ng-deep .fc-next-button,
:host ::ng-deep .fc-today-button {
  font-size: 1rem;
  padding: 8px 12px;
  margin: 0 8px;
}

:host ::ng-deep .fc-toolbar-title {
  font-size: 2rem;
  margin: 0 15px;
}

:host ::ng-deep .fc-toolbar-title::first-letter {
  text-transform: uppercase;
}

/* Pour les écrans mobiles */
@media (max-width: 480px) {
  :host ::ng-deep .fc-toolbar {
    padding: 10px 0;
    justify-content: center;
    flex-direction: column;
  }

  :host ::ng-deep .fc-prev-button,
  :host ::ng-deep .fc-next-button,
  :host ::ng-deep .fc-today-button {
    font-size: 0.8rem;
    padding: 6px 10px;
    margin: 0 4px;
  }

  :host ::ng-deep .fc-toolbar-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  :host ::ng-deep .fc-prev-button,
  :host ::ng-deep .fc-next-button {
    font-size: 1.4rem;
  }

  :host ::ng-deep .fc-toolbar {
    justify-content: center;
    flex-direction: column;
  }

  :host ::ng-deep .fc-prev-button,
  :host ::ng-deep .fc-next-button,
  :host ::ng-deep .fc-today-button {
    margin-bottom: 10px;
  }

  :host ::ng-deep .fc-toolbar-chunk {
    margin: 5px 10px; 
  }
}